.tox/
.coverage
__pycache__/
sphinx/_build/
*.py[cod]
*.swp
dist/
sdist/
env/
build/
develop-eggs/
eggs/
cropped_images/
cropped_images_2/
raw_images/
*.egg-info/
.installed.cfg
*.egg
*.deb
*.dsc
*.build
*.changes
*.orig.*
*.tif
*.tiff
*.png
testing/
MANIFEST
.idea
pip-log.txt
pip-delete-this-directory.txt
library/test/scrollphat/
library/debian/
packaging/*tar.xz
.DS_Store
sphinx.virtualenv
